@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout */
.nx-container {
  max-width: 640px;
}

/* Typography */
h1 {
  font-size: 28px !important;
  letter-spacing: -0.8px;
  font-weight: 600 !important;
}

h2 {
  font-weight: 500 !important;
  letter-spacing: -0.8px;
}

/* Navigation */
.nav-line .nav-link {
  color: #69778c;
}

/* Links */
.prose a {
  color: #0074de;
}

a {
  text-decoration-color: #525252 !important;
  text-underline-offset: 2px !important;
  text-decoration-thickness: 1px !important;
}

.nx-flex a,
.nx-flex span {
  text-decoration: none;
  letter-spacing: -0.4px;
  font-weight: 400;
}

/* Themes */
.dark body {
  background-color: #111010;
}

.dark p {
  color: #d4d4d4;
}

.light p,
h1,
h2,
h3,
h4 {
  color: #000;
}

/* Images */
img.next-image {
  margin: 0;
}

/* Interactive elements */
details summary {
  cursor: pointer;
}

/* High-DPI screens */
@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
